.agentForceSection {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 1024px) {
  .agentForceSection {
    background-size: contain !important;
    background-position: bottom !important;
  }
}

@media (max-width: 768px) {
  .agentForceSection {
    background-size: contain !important;
    background-position: bottom !important;
  }
}
